.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: .3s ease-out;
}

.footer__column-link:hover {
  opacity: .5;
}