/*
a, h1, h2, h3, h4, p, div, footer, main, section  {
  margin: 0;
} */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
  display: flex;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.header__title {
  margin: 0;
  width: 730px;
  display: flex;
  align-items: center;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600; 
}

.digits {
  padding: 100px 0;
}

.digits-kaufman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  margin: 0;
  width: 648px;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;

}

.feynman__subtitle {
  margin: 0;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
/* position: absolute;
  top: 50%;*/ 
}

.feynman__link {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.theme_dark {
  background-color: #1f1f1f;
  color: white;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
/*  color: white;
  margin-right: 0;
  margin-top: 80px;*/
  padding-top: 80px;
  justify-content: space-between;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
}

.footer__column {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content-copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 18px 0;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__list {
  list-style: none;
  padding: 20px 0 16px;
  margin: 0;
}

.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;

}

.column-link_icon-padding-right {
  padding-right: 10px;
}